<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>videourl</key>
		<string>http://inews.qq.com/webVideo?vid=g0303ww6qle&amp;img=http%3A%2F%2Fpuui.qpic.cn%2Fqqvideo_ori%2F0%2Fg0303ww6qle_496_280%2F0&amp;appver=</string>
		<key>img</key>
		<string>http://puui.qpic.cn/tv/0/3805091_496280/0</string>
		<key>Title</key>
		<string>吸烟的代价 看完你考虑戒烟吗？</string>
	</dict>
	<dict>
		<key>videourl</key>
		<string>http://inews.qq.com/webVideo?vid=e0181lixhft&amp;img=http%3A%2F%2Fpuui.qpic.cn%2Fqqvideo_ori%2F0%2Fe0181lixhft_496_280%2F0&amp;appver=</string>
		<key>img</key>
		<string>http://puui.qpic.cn/qqvideo_ori/0/e0181lixhft_496_280/0</string>
		<key>Title</key>
		<string>女司机被查 床上笑一天</string>
	</dict>
	<dict>
		<key>videourl</key>
		<string>http://inews.qq.com/webVideo?vid=u0302pxse36&amp;img=http%3A%2F%2Fpuui.qpic.cn%2Fqqvideo_ori%2F0%2Fu0302pxse36_496_280%2F0&amp;appver=</string>
		<key>img</key>
		<string>http://puui.qpic.cn/tv/0/3804907_496280/0</string>
		<key>Title</key>
		<string>momo娘-女生跪姿俯地挺身美胸锻炼！
momo娘-女生跪姿俯地挺身美胸锻炼！
momo娘-女生跪姿俯地挺身美胸锻炼！
momo娘-女生跪姿俯地挺身美胸锻炼！
momo娘-女生跪姿俯地挺身美胸锻炼！
</string>
	</dict>
	<dict>
		<key>videourl</key>
		<string>http://inews.qq.com/webVideo?vid=v01816xgo8b&amp;img=http%3A%2F%2Fpuui.qpic.cn%2Fqqvideo_ori%2F0%2Fv01816xgo8b_496_280%2F0&amp;appver=</string>
		<key>img</key>
		<string>http://puui.qpic.cn/qqvideo_ori/0/v01816xgo8b_496_280/0</string>
		<key>Title</key>
		<string>四川话洗脑翻唱《谢谢你的爱》已忘原版！</string>
	</dict>
	<dict>
		<key>videourl</key>
		<string>http://inews.qq.com/webVideo?vid=b018007uwl5&amp;img=http%3A%2F%2Fpuui.qpic.cn%2Fqqvideo_ori%2F0%2Fb018007uwl5_496_280%2F0&amp;appver=</string>
		<key>img</key>
		<string>http://puui.qpic.cn/qqvideo_ori/0/b018007uwl5_496_280/0</string>
		<key>Title</key>
		<string>老外在电梯里恶搞激吻大胸妹子衣服都脱了最后美国大妈太霸气</string>
	</dict>
	<dict>
		<key>videourl</key>
		<string>http://inews.qq.com/webVideo?vid=n01745gvnb5&amp;img=http%3A%2F%2Fpuui.qpic.cn%2Fqqvideo_ori%2F0%2Fn01745gvnb5_496_280%2F0&amp;appver=</string>
		<key>img</key>
		<string>http://puui.qpic.cn/qqvideo_ori/0/n01745gvnb5_496_280/0</string>
		<key>Title</key>
		<string>堪比AI之欧文十佳球！第9球底线拉杆真心帅呆</string>
	</dict>
</array>
</plist>
